@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jacquarda+Bastarda+9&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jacquarda+Bastarda+9&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define global variables */
:root {
  --bg-color: #121214;
  --font-color: #d5ff3f;
  --container-width: 67rem;
  --gray:#161B22;
  --sub-text: #8B949E;
  --font-style:"Bebas Neue", system-ui;
}

body {
  background: var(--bg-color);
  font-family: "DM Sans", sans-serif;
}

/* Globle tag reset */
li {
  list-style: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

a{
  text-decoration: none;
}

/* Utils / reuse code started  */

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.text-center {
  text-align: center;
}

.card{
  background-color: var(--font-color);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 1rem;
}

.primary-btn{
  padding: 0.7rem;
  color: var(--font-color);
  border-radius: 6px;
  background-color: var(--gray);
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.5ms ease-in;
}
.primary-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: scale(1.01);
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}

.gray-box{
  background-color: var(--gray);
  color: white;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem 0;
}

.highlight{
  color: var(--font-color);
}

.section-title{
  font-family: var(--font-style);
  font-size: 2.5rem;
  font-weight: 600;
}
/* Utils Code Ends */

/* navbar code started  */
.nav-list {
  padding: 1rem;
  justify-content: center;
}

.menu-btn img{
  display: none;
  /* filter: brightness(1); */
  filter: invert(100%);
  width: 3rem;

}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
}
.nav-list a:hover {
  color: var(--font-color);
}

.nav-list a:focus {
  color: var(--font-color);
}

.nav-list a::after {
  content: "";
  background-color: #ffffff;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -0.6rem;
  transform: translateX(-50%);
  transition: 0.5s;
  visibility: hidden;
  opacity: 100%;
  width: 0;
}

.nav-list a:hover::after,
.nav-list a:focus::after {
  visibility: visible;
  width: calc(100% + 0.5rem);
}

/* navbar code End */

/* about section started */
.section{
  margin-top: 4rem;
}

.about-right button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--font-color);
  background-color: transparent;
}

.about-left img{
  width: 20rem;
  border-radius: 14px;
  border: 2px solid var(--font-color);
  object-fit: cover;
}



/* about section end */


/* Hero section code started */
.stroke-text {
  color: transparent;
  font-size: 12rem;
  opacity: 30%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--font-color);
  font-family: "Bebas Neue", sans-serif;
  cursor: default;
}

.back-text {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );

}

/* .back-text div{
  max-width: 1200px;
} */

.hero-section{
  position: relative;
}

.hero-text{
  color: var(--font-color);
  position: absolute;
  top: 5rem;
  width:100%;
}

.hero-section img{
  width: 2.5rem;
  margin-inline-end: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.hero-section img:hover{
 transform: scale(1.1);
}


.title{
  font-size: 3rem;
  font-family: "Caveat", cursive;
}

.sub-title{
  font-size: 1rem;
}

.heading{
  font-size: 10rem;
  font-weight: 600;
  line-height: 10rem;
  letter-spacing: -3px;
  font-family: "Bebas Neue", sans-serif;
}

/* Hero section code end */


/* Project section Started */
.project-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.Project-card{
  background-color: var(--gray);
  width: 20rem;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Project-card div:nth-child(2){
  padding: 1rem;
}
.Project-card div:nth-child(2) img{
  width: 3rem;
  margin-top: 1rem;
}

.project-img img{
  object-fit: cover;
  width: auto;
  height: 9.5rem;
  border-radius: 10px;
}

.project-heading{
  font-size: 1.4rem;
  font-weight: 600;
}

.project-sub-heading{
  font-size: 1rem;
  color: var(--font-color);
  font-weight: 500;
}

.project-discription{
  color: var(--sub-text);
  font-size: 0.9rem;
}

.stack-img img{
  width: 3rem;
}
/* Project section Started */

/* contact section Started */
.right-box input,textarea,
.right-box button{
 width: 100%;
 padding: 0.5rem;
 border-radius: 5px;
 border: none;
 outline: none;
 margin: 0.4rem 0;
}

.right-box label{
  font-weight: 600;
}

.left-box h1{
  font-weight: 700;
  font-size: 2.4rem;
}

.left-box p{
  width: 70%;
}
/* contact section end */

/* Footer Section Started */

.footer-top{
  font-size: 3rem;
  font-weight: 700;
}

.footer-disc{
  font-size: 0.9rem;
  color: var(--sub-text);
}

.social-link img{
  width: 3rem;
  padding: 0.2rem;
  margin-top: 2rem;
}

/* Footer Section ends */